JWT_SECRET=your-secret-key-here
DATABASE_URL=postgresql://user:password@host:5432/forevo
PORT=3001
NODE_ENV=production
APP_URL=https://forevo-app.onrender.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=Forevo <noreply@forevo.app>
VAPID_PUBLIC_KEY=BPdZX3tjU1cwSon0MKdbXrhFnpx3_iNBYVNR60tlITSycMFKc2RRB-aldw21cqYNgf_dT4euCqD4Q0eRY4BIMyY
VAPID_PRIVATE_KEY=zdaVnULPowRf4_kfe8ehjKqBiS53LFDIPhoOwqeAo1w
